*{
-webkit-box-align: center;
color: var(--cor4) ;
justify-content: center;
align-items: center;
display: grid ;
place-items:center ;
}
h1{
    text-decoration-line: underline;
    text-align: center;
}

.nome{
    color: white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;

}

.Email{
    color: white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;
}

.Senha{
    color:  white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;
}

.Csenha{    
    color:  white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;
}
.Tel{
    color:  white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;
}

.CEP{
    color:  white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;}


.CPF{
    color:  white;
    background-color: black;
    text-transform: none;
    margin:1px ;
    padding: 5px;
    font-size: larger;
    text-decoration:underline ;
    border-style: solid;
    font-variant: normal;
    border-radius: 20px;
    transition: 0.5s;}

    .Enviar{
    color:  white;
    background-color: black;
    }

    .Resetar{
color: white;
background-color: black;


    }